@charset "utf-8";
/* CSS Document */

body {
    background-color: #fffbe2;
}
.hero-box {
    overflow-x: auto;
    width: 100%;
}
.hero {
    background-image: url(../img/header1900500.png);
    height: 500px;
    width: 1920px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}