@charset "utf-8";
/* CSS Document */

.hero {
    background-image: url(../img/header1900500.png);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}