@charset "utf-8";
/* CSS Document */

/* フォント */
html {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%
}
:root {
  --h1-size: clamp(2.4rem, 5vw, 5.0rem);
  --h2-size: clamp(1.8rem, 3.5vw, 4.0rem);
  --h3-size: clamp(2.5rem, 5vw, 4.0rem);
  --h4-size: clamp(2.5rem, 5vw, 2.5rem);
  --p-size: clamp(1.4rem, 2.5vw, 1.6rem);
  --max-width: 1200px
}
    h1 {
      font-size: var(--h1-size);
      color: #553A49;
      font-weight: 700;
    }
    h2 {
      font-size: var(--h2-size);
      color: #553A49;
        font-family: "UnifrakturMaguntia", cursive;
        font-weight: 400;
        font-style: normal;
    }

    h3 {
      font-size: var(--h3-size);
      color: #553A49;
    }
    h4 {
      font-size: var(--h4-size);
      color: #553A49;
    }
    p {
      font-size: var(--p-size);
      color: #553A49
    }


a:link{text-decoration: none;color:#fff;}
a:visited {text-decoration: none;color:#fff;}
a:hover{text-decoration: none;color:#dc81b3;}
a:active {text-decoration: none;color: #dc81b3;}
    


/* ハンバーガーメニュー */
nav {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: #625B25;
    background-image: url(../img/header_logo.png);
    background-repeat: no-repeat;
    background-position: 50px center;
    background-size: auto 150px;
}
ul {
    display: none;
    list-style:none;
}
li a{
    padding: 1em;
    font-size: 24px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
}
.hamburger {
    position: fixed;
    top: 32px;
    right:32px;
    cursor: pointer;
    width: 32px;
    height: 24px;
    z-index: 10;
}
.hamburger span {
    /*3本の線を作る*/
    transition: all .3s;
    position: absolute;
    height: 4px;
    background-color: #efefef;
    width:100%;
    z-index: 10;
    border-radius: 2px;
    border: 2px solid #553A49;
    box-sizing: border-box;
}
.hamburger span:nth-of-type(1) {
    /*上の線の位置*/
    top: 4px;
}
.hamburger span:nth-of-type(2) {
    /*真ん中の線の位置*/
    top: 12px;
}
.hamburger span:nth-of-type(3) {
    /*下の線の位置*/
    top: 20px;
}
.hamburger.open span:nth-of-type(1) {
    /*openのとき、上の線を右斜めにする*/
    top: 10px;
    transform: translateY(6px) rotate(-33deg);
}
.hamburger.open span:nth-of-type(2) {
    /*真ん中の線を消す*/
    opacity: 0;
}
.hamburger.open span:nth-of-type(3) {
    /*下の線を左斜めにする*/
    top: 22px;
    transform: translateY(-6px) rotate(33deg);
}





body {
    background-color: #fffbe2;
}

/* ヘッダー */
.hero-box {
    width: 100%;
}
.hero {
    background-image: url(../img/header1900500.png);
    height: 500px;
    width: 100%;
    max-width: 1920px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 5em 0;
    margin-bottom: 10rem;
    
}
.hero h3 {
    margin-left: 23rem;
    text-align: center;
}

/* gear ambassadors */
.ga {
    background-image: url(../img/top_sns_back.png);
    background-size: 822px 654px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10rem;
    
  }
.ga h1 {
    text-align: center;
    margin-bottom: 2rem;
}
.ga p {
    text-align: center;
    margin-bottom: 3rem;
}
.ga-sns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
}
.ga-ig {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ga-ig img {
    margin-bottom: 3rem;
}
.ga-tk {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ga-tk img {
    margin-bottom: 3rem;
}
.ga-tk video {
    margin-top: -1rem;
}

.ga-x {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ga-x img {
    margin-bottom: 3rem;
}

/* Dispatches */
.dpc {
    background-image: url(../img/top-back2_362362.png);
    background-size: 362px 362px;
    background-position: calc(50% - 230px) calc(50% + 50px);
    background-repeat: no-repeat;
    margin-bottom: 10rem;
}
.dpc h1 {
    text-align: center;
    margin-bottom: 5rem;
}
.dpc-box {
    display: grid;
    grid-template-columns: 1fr 300px; /* 左：表 / 右：画像 */
    gap: 10rem;
    align-items: start;
    margin-right: 50rem;
}
.dpc-grid {
  display: grid;
  justify-content: flex-start;
  margin-left: 40rem;
  padding-top: 5em;
  gap: 10px; /* 段の間隔 */
}

.row {
  display: grid;
  grid-template-columns: 100px 360px; /* 左：日付 右：テキスト */
  align-items: center;
  padding: 35px 0;
  border-bottom: 1px solid #625B25; /* 行の区切り線 */
  cursor: pointer; 
}
.row:hover {
  background: rgba(98, 91, 37, 0.2);             /* ホバー時の背景 */
}

.text {
  color: #444;
}
.preview img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
}

/* Traveler Guild */
.tg {
    background-image: 
        url(../img/top-back3_399399.png), 
        url(../img/top-back4_343343.png), 
        url(../img/top-back5_4181043.png);

    background-position: 
        left calc(50% - 500px), 
        right calc(50% - 100px), 
        left calc(50% + 500px);

    background-size: 399px 399px, 343px 343px, 418px 1043px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tg h1 {
    text-align: center;
    margin-bottom: 5rem;
}
.tg-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}
.tg-info-img {
    position: relative;
}
.tg-info-deco {
    position: absolute;
    top: 55px;
    left: 350px;
}
.tg-bgc {
    background-color: rgba(98, 91, 37, 0.2);
    padding: 3em 3em 3em 5em;
    margin-top: 8rem;
}
.tg-bgc p {
    padding-top: 3.5em;
    text-align: end;
} 
.tg h2 {
    margin-bottom: 2rem;
}

.tg-engine {
    display: flex;
    margin-bottom: 10rem;
    gap: 3rem;
}
.engine-text {
    display: flex;
    flex-direction: column;
}

.tg-blass {
    display: flex;
    margin-bottom: 5rem;
    gap: 3rem;
}
.blass-text {
    display: flex;
    flex-direction: column;
}

.tg-victorian {
    display: flex;
    margin-bottom: 5rem;
    gap: 3rem;
}
.victorian-text {
    display: flex;
    flex-direction: column;
}

.tg-chimney {
    display: flex;
    margin-bottom: 5rem;
    gap: 3rem;
}
.chimney-text {
    display: flex;
    flex-direction: column;
}

.tg-labrary {
    display: flex;
    gap: 3rem;
}
.labrary-text {
    display: flex;
    flex-direction: column;
}