@charset "utf-8";
/* CSS Document */

/* フォント */
html {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%
}
:root {
  --h1-size: clamp(2.4rem, 5vw, 5.0rem);
  --h2-size: clamp(1.8rem, 3.5vw, 2.4rem);
  --h3-size: clamp(2.5rem, 5vw, 4.0rem);
  --p-size: clamp(1.4rem, 2.5vw, 1.6rem);
  --max-width: 1200px
}
    h1 {
      font-size: var(--h1-size);
      color: #553A49;
      font-weight: 700;
    }
    h2 {
      font-size: var(--h2-size);
      color: #553A49;
    }
    h3 {
      font-size: var(--h3-size);
      color: #553A49;
    }
    p {
      font-size: var(--p-size);
      color: #553A49
    }


a:link{text-decoration: none;color:#fff;}
a:visited {text-decoration: none;color:#fff;}
a:hover{text-decoration: none;color:#dc81b3;}
a:active {text-decoration: none;color: #dc81b3;}
    


/* ハンバーガーメニュー */
nav {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: #625B25;
    background-image: url(../img/header_logo.png);
    background-repeat: no-repeat;
    background-position: 50px center;
    background-size: auto 150px;
}
ul {
    display: none;
    list-style:none;
}
li a{
    padding: 8px;
    font-size: 16px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
}
.hamburger {
    position: fixed;
    top: 32px;
    right:32px;
    cursor: pointer;
    width: 32px;
    height: 24px;
    z-index: 10;
}
.hamburger span {
    /*3本の線を作る*/
    transition: all .3s;
    position: absolute;
    height: 4px;
    background-color: #efefef;
    width:100%;
    z-index: 10;
    border-radius: 2px;
    border: 2px solid #553A49;
    box-sizing: border-box;
}
.hamburger span:nth-of-type(1) {
    /*上の線の位置*/
    top: 4px;
}
.hamburger span:nth-of-type(2) {
    /*真ん中の線の位置*/
    top: 12px;
}
.hamburger span:nth-of-type(3) {
    /*下の線の位置*/
    top: 20px;
}
.hamburger.open span:nth-of-type(1) {
    /*openのとき、上の線を右斜めにする*/
    top: 10px;
    transform: translateY(6px) rotate(-33deg);
}
.hamburger.open span:nth-of-type(2) {
    /*真ん中の線を消す*/
    opacity: 0;
}
.hamburger.open span:nth-of-type(3) {
    /*下の線を左斜めにする*/
    top: 22px;
    transform: translateY(-6px) rotate(33deg);
}





body {
    background-color: #fffbe2;
}

/* ヘッダー */
.hero-box {
    width: 100%;
}
.hero {
    background-image: url(../img/header1900500.png);
    height: 500px;
    width: 100%;
    max-width: 1920px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 5em 0;
    
}
.hero h3 {
    margin-left: 25rem;
    text-align: center;
}

/* gear ambassadors */
.ga {
    background-image: url(../img/top_sns_back.png);
    background-size: 822px 654px;
    background-position: center 15rem;
    background-repeat: no-repeat;
    filter: brightness(150%);
    padding: 10em 0 30em 0;
    margin-bottom: 10rem;
  }
.ga h1 {
    text-align: center;
    margin-bottom: 5rem;
}
.ga p {
    text-align: center;
    margin-bottom: 10rem;
}
.ga-sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.ga-ig {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ga-ig img {
    margin-bottom: 3rem;
}
.ga-tk {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ga-tk img {
    margin-bottom: 3rem;
}
.ga-x {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ga-x img {
    margin-bottom: 3rem;
}

/* Dispatches */

.dpc h1 {
    text-align: center;
    margin-bottom: 5rem;
}